$error: #FF0;
$purple: #939;
$logo-purple: #951b81;
$transparent-purple: rgba(140,40,120,0.8);
$transparent-grey: rgba(51,51,51,0.9);

.l-grey {
    color: #000;
    background: #EEE;
}

.d-grey {
    color: #EEE;
    background: #222;
}