.full,
.half {
    width: (100%/1);
    float: left;
}

.half-padding {
    width: (98%/1);
    padding: 0 1%;
    float: left;
}

@media ($min-bp-a) {
    .half {
        width: (100%/2);
    }

    .half-padding {
        width: (98%/2);
    }

    .half-padding:last-child {
        float: right;
    }
}