.full,
.half,
.half-margin {
    width: (100%/1);
    float: left;
}

@media ($min-bp-a) {
    .half {
        width: (100%/2);
    }

    .half-margin {
        width: (98%/2);
        margin: 0 1%;
    }

    .half-margin:nth-of-type(odd) {
        margin-left: 0;
    }

    .half-margin:nth-of-type(even) {
        margin-right: 0;
    }
}