.social {
    height: 30px;
    width: 30px;
    position: absolute;
}

.twitter {
    top: 10px;
    right: 70px;
    background-image: url(../img/twitter-icon.jpg);
    transition: background 0.5s;
}

.facebook  {
    top: 10px;
    right: 100px;
    background-image: url(../img/facebook-icon.jpg);
    transition: background 0.5s;
}

.twitter:hover {
    background-image: url(../img/twitter-icon-rollover.jpg);
}

.facebook:hover {
    background-image: url(../img/facebook-icon-rollover.jpg);
}

#login-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

header {
    height: auto;
    text-align: center;
}

.header-padding {
    position: relative;
    padding: 40px 45px;
}

#logo {
    border-bottom: 0;
}

#header-contact {
    color: #999;
}

#login-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media ($min_bp_a) {

    .twitter {
        top: 40px;
        right: 100px;
    }

    .facebook  {
        top: 40px;
        right: 130px;
    }

    #login-btn {
        top: 40px;
        right: 45px;
    }

    #menu-btn {
        display: none;
    }

    nav {
        width: 515px;
        top: auto;
        margin: 0 auto;
        position: relative;
        display: block;
    }

    nav li {
        width: auto;
        padding: 0 15px;
        border-bottom: none;
        border-right: 2px solid #CCC;
        background: none;
    }

    nav li:last-child {
        padding-right: 0;
        border-right: 0;
    }

    nav li:hover {
        background: none;
    }

    nav li:hover > a {
        color: $purple;
    }

    nav a {
        border-bottom: none;
        font-size: 18px;
    }
}

@media ($min_bp_b) {
    header {
        text-align: left;
    }

    #login-btn {
        top: 40px;
        right: 45px;
    }

    #header-contact {
        position: absolute;
        top: 100px;
        right: 45px;
    }

    #menu-btn {
        display: none;
    }

    header {
        text-align: left;
    }

    nav {
        width: auto;
        top: 160px;
        left: auto;
        right: 45px;
        position: absolute;
        display: inline;
    }

    #logo {
        float: left;
    }

    #login-btn {
        top: 40px;
        right: 45px;

    }
}