header {
    text-align: center;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

li {
    float: left;
    margin: 0 1% 0 1%;
    list-style: none;
    font-size: 1em;
}

li a {
    text-decoration: none;
}