header {
    height: auto;
    text-align: center;
}

.header-padding {
    position: relative;
    padding: 40px 45px;
}

#logo {
    border-bottom: 0;
}

#header-contact {
    color: #999;
}

#login-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media ($min_bp_b) {
    header {
        text-align: left;
    }

    #logo {
        float: left;
    }

    #header-contact {
        position: absolute;
        top: 100px;
        right: 45px;
    }

    #login-btn {
        top: 40px;
        right: 45px;
    }
}