// If we need to use page-by-page styles, bodyclass.php will need to be imported in front_view.php

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: helvetica;
}


h1 { font-size: 1.5em; padding: 0 10px 0 10px; color: #9b197a; }

h2 { font-size: 1.25em; }

header {
    width: 100%;
}

.imagegallery {
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: #EEE;
}

.indexdescription {
    padding: 0 10px 0 10px;
}

.typesofwork {
    background-color: #222222;
    padding: 1% 0 1% 0;
}

.chefagency, .consultancy, .cateringcontracts, .procurements {
    background-color: #222222;
    color: white;
    text-align: center;
    margin: 1%;
    padding: 3%;
    border: 1px solid #404040;
    cursor: pointer;
}

.chefagency:hover, .consultancy:hover, .cateringcontracts:hover, .procurements:hover {
    background-color: #333333
}

.quote {
    color: white;
    position: relative;
    background-color: #222222;
    display: block;
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 10px;
}

.quote:before {
    content: '"';
    color: purple;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
}

.quote:after {
    content: '"';
    color: purple;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
}
