.btn {
    height: 40px;
    padding: 10px 25px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    background: $purple;
}

.btn:hover {
    color: #FFF;
    background: #222;
}

a.btn:hover {
    border: 0;
}

.icon {
    width: 60px;
    height: 45px;
    margin: 0 auto;
    background: url(/img/sprite-sheet.svg);
}

.burger {
    background-position: -40px 0;
}
.burger:hover {
    background-position: -85px 0;
}
#menu-toggle:checked ~ .burger {
    background-position: -130px 0;
}
#menu-toggle:checked ~ .burger:hover {
    background-position: -170px 0;
}

.twitter {
    top: 20px;
    right: 210px;
    background-position: 0 0;
}

.twitter:hover {
    background-position: 0 -20px;
}

.facebook  {
    top: 20px;
    right: 180px;
    background-position: -20px 0;
}

.facebook:hover {
    background-position: -20px -20px;
}

.agency {
    background-position: -3px -51px;
}

.consultancy {
    background-position: -63px -51px;
}

.contracts {
    background-position: -123px -51px;
}

.procurements {
    background-position: -183px -51px;
}

form {
    padding: 20px 0;
}

#login-form:not(.hover),
#register-form:not(.hover), {
    opacity: .4;
}

#login-form.active,
#register-form.active {
    opacity: 1;
}

table {
    width: 100%;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    font-family: "Open Sans", Arial, sans-serif;
}

input[type=file]::-webkit-file-upload-button {
    border: 0;
    color: #FFF;
    margin: 0;
    padding: 0 20px 0 0;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    background: 0;
}

input[type=file]::-ms-browse {
    border: 0;
    color: #FFF;
    margin: 0;
    padding: 0 20px 0;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    background: 0;
}

input[type=radio] {
    width: auto;
}

input[type=submit] {
    margin-top: 15px;
}

label {
    font-weight: 800;
}

textarea {
    height: 100px;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
    outline-color: #999;
}